body {
  text-align: center;
  background-image: url(https://media.istockphoto.com/id/1367756031/vector/light-blue-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=qiJl7j-2terwHd-1YJxiFIo1VJx6l6IsmoqlgeypQ7c=);
  background-size: cover;
  background-size: 100vh;
  height: 100vh;
}
div {
  width: 100vw;
  display: flex;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.class1,
.class2 {
  display: inline-block;
}
.class3,
.class4 {
  display: inline-block;
}
.class1 {
  background-color: cadetblue;
}
.class2 {
  background-color: orange;
}
.class3 {
  background-color: brown;
}
.class4 {
  background-color: aquamarine;
}
.flash {
  background-color: white;
}
.userflash {
  background-color: green;
}
.click {
  margin-top: 20px;
  font-size: 2rem;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 473px) {
  .btn {
    width: 70px;
    height: 70px;
  }
  .click {
    font-size: 1rem;
  }
}
@media (max-width: 250px) {
  .btn {
    width: 40px;
    height: 40px;
  }
  .click {
    font-size: 1rem;
  }
}
